@model MiningProject.Models.History

@{
    ViewData["Title"] = "Create";
}
<section class="content">
    <h2>Create</h2>

    <h4>History</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label">Location</label>
                    <select asp-for="LocationID" class="form-control" asp-items="ViewBag.Locations"></select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Truck" class="control-label">Truck</label>
                    <select asp-for="TruckID" class="form-control" asp-items="ViewBag.Trucks"></select>
                    <span asp-validation-for="Truck" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArrivalTime" class="control-label"></label>
                    <input asp-for="ArrivalTime" class="form-control" />
                    <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureTime" class="control-label"></label>
                    <input asp-for="DepartureTime" class="form-control" />
                    <span asp-validation-for="DepartureTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>
