<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li><a asp-area="" asp-controller="Trucks" asp-action=""><i class="fa fa-link"></i> <span>Trucks</span></a></li>
    <li><a asp-area="" asp-controller="Locations" asp-action=""><i class="fa fa-link"></i> <span>Locations</span></a></li>
    <li><a asp-area="" asp-controller="Histories" asp-action=""><i class="fa fa-link"></i> <span>History</span></a></li>

</ul>